* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-texto: #ffffff;
    --cor-subtitulo: #2f4f4f;
    --black-cor: #000000;
    --cor-secundária: #4f6a6a;
    --cor-terciaria: #6a8181;
    --cor-extremidade: #333;
}

/* Ajuste do scroll de rolagem */
section {
    scroll-margin-top: 70px; 
}

/* Estilos gerais */
body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    text-align: center;
}

.navbar {
    width: 100%;
    padding: 10px;
    background-color: var(--cor-extremidade);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 60px;
}

.navbar-header {
    float: left;
}

.navbar .nav-link {
    color: var(--cor-texto);
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    padding: 0;
}


.menu-btn {
    background-color: var(--cor-extremidade);
    color: white;
    border: none;
    padding: 15px 30px; 
    font-size: 18px;    
    cursor: pointer;
}

.navbar-menu {
    display: none;
    margin-right: 10px;
}


.navbar-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-menu ul li {
    display: block;
    margin-left: 30px;
    vertical-align: middle;
    transition: color 0.3s ease;
}

.navbar-menu a {
    text-decoration: none;
    color: var(--cor-texto);
    text-align: left;
    display: block;
    padding: 10px 12px;
    cursor: pointer;
    font-weight: bold;
}

.navbar-menu a:hover {
    text-decoration: underline;
}

/*Header*/
.header {
    height: 400px;
    width: 100%;
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: 100%;
    background-attachment: fixed;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header#header-img {
    background-image: url('imagens/maquinaHeader.webp');
    background-position: right center;
}

.header h1 {
    font-size: 36px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.267);
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.616);
    animation: pulse 1.5s infinite alternate;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

main {
    margin-top: 60px;
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos da seção 'Sobre' */

.sobre-texto {
    line-height: 1.2;
    font-size: 1.2rem;
    line-height: 1.3; 

}

.titulo {
    text-align: center;
    background-color: var(--cor-terciaria);
    color: var(--cor-texto);
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
}

/*Conaitner serviços*/

.container {
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
    margin-top: 20px;
    
}

.container-limpeza p {
    font-size: 1.1rem;
    padding-left: 0;
    text-align: left;
}

.container-limpeza ul {
    padding-left: 0;
    text-align: left;
}

.container-limpeza ul li {
    font-size: 1.1rem;
    list-style: none;
    text-align: left;
    margin-bottom: 10px;/
}

.higienizacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.higienizacao-container-paragrafo {
    flex: 1;
    width: 80%; 
    padding: 20px;
    border-radius: 4px;
    color: var(--cor-texto);
    background-color: var(--cor-terciaria);
    box-sizing: border-box;
}

.higienizacao-container-paragrafo p {
    font-size: 1.2rem;
    letter-spacing: 0.5px; 
    line-height: 1.2;
}

.imagem-higienizacao {
    width: 50%;
    margin-left: 20px;
}

/*Container Limpeza profunda*/

.container-limpeza-profunda {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: justify;
    text-align: left;
    border-radius: 4px;
}

.container-limpeza-profunda h3 {
    color: var(--cor-texto);
    background-color: var(--cor-subtitulo);
    text-align: center;
    font-size: 1.5rem;
}

.limpeza-profunda-texto {
    line-height: 1.5;
    font-size: 18px; 
    letter-spacing: 0.5px; 
}


.container-limpeza-profunda ul,
.container-limpeza-profunda li {
    margin-left: 20px;
}


/*Container conserto*/


#servicos h3 {
    background-color: var(--cor-subtitulo);
    color: var(--cor-texto);
    text-align: center;
    border-radius: 4px;
}

.servicos-subtitulo {
    color: var(--cor-subtitulo);
    text-align: center;
}

.imagem-conserto {
    margin-left: 20px;
}

.container-conserto {
    margin: 5%;
    margin-bottom: 20px;
}

.servicos-subtitulo-maquina {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 10px;
}


.container-conserto div {
    clear: both;
    margin-bottom: 40px;
}


.micro-ondas li,
.lavaeseca li,
.maquinadelavar li {
    margin-bottom: 10px;
    text-align: left;
    padding-right: 30px;
}



.container-lavaeseca p {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    margin-right: 15px;
    margin-left: -20px;

}

.container-maquina-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.container-maquina-content>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-maquina-content p {
    margin-bottom: 10px;
}

.container-maquina p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 15px;
    margin-left: -50px;
}


/* Estilos para o título "Nossos Produtos em Destaque" */
.serviços-container-vendas h2{
    color: var(--cor-subtitulo);
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    color: var(--cor-subtitulo);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
    /* Negrito */

}

.container-limpeza p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

/*Container Micro-ondas*/

.servicos-subtitulo-microondas {
    background-color: var(--cor-subtitulo);
    color: var(--cor-texto);
    text-align: right;
    margin-top: 20px;
    margin-bottom: 10px;
}

.micro-ondas {
    text-align: center;
    list-style-position: inside;
}

.container-microondas p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 5px;
    margin-left: -10px;
}

/*Imagens*/

.imagem-lavaeseca {
    width: 60%;
    height: auto;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

.imagem-brastemp,
.imagem-microondas {
    width: 60%;
    height: auto;
    float: right;
    margin-right: 40px;
}


/*Container Benefícios*/

#beneficios {
    width: 100%;
    text-align: center;
    padding: 30px 20px;
    background-color: var(--cor-terciaria);
    color: var(--cor-texto);
    margin-top: 80px;
    border-radius: 4px;
}

#beneficios h2 {
    padding: 20px;
}

#beneficios ul {
    margin-bottom: 20px;
    text-align: left;
    padding-left: 80px;
}

#beneficios ul li {
    margin-bottom: 10px;
    padding-left: 20px;
font-size: 1.1rem;
}

#beneficios .beneficios-texto {
    line-height: 1.2;
}

#beneficios .subtitulo-beneficios {
    color: var(--cor-texto);
    background-color: var(--cor-subtitulo);
    text-align: center;
}

/*Container vendas*/
.serviços-container-vendas {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.serviços-container-vendas div {
    margin-bottom: 30px;
}

.serviços-container-vendas ul {
    padding-left: 0;
    margin-bottom: 20px;
}

.serviços-container-vendas ul li {
    text-align: left;
    list-style-type: none;
    font-size: 1.1em;
    margin: 10px 0;
    padding-left: 10px;
    border-left: 4px solid var(--cor-secundaria);
}

.serviços-container-vendas ul li strong {
    color: var(--cor-subtitulo);
}

.serviços-container-vendas p {
    text-decoration: underline;
    margin-top: 10px;
    font-size: 1.3rem;
}

/*Container Contato*/

#contato {
    text-align: center;
    max-width: 100%;
    padding: 50px 20px;
    background-color: var(--cor-subtitulo);
    color: var(--cor-texto);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s ease;
    margin: 0;
    position: relative;
    border-radius: 4px;
}

.contato-container {
    background-color: var(--cor-terciaria);
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
}

#titulo {
    margin-bottom: 20px;
}

#contatoForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

#contatoForm input[type="text"],
#contatoForm input[type="tel"],
#contatoForm input[type="email"],
#contatoForm textarea {
    width: calc(95% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#contatoForm input[type="text"]:hover,
#contatoForm input[type="email"]:hover,
#contatoForm input[type="tel"]:hover,
#contatoForm textarea:hover {
    border-color: var(--cor-subtitulo);
    box-shadow: 0 0 5px var(--cor-subtitulo);
    background-color: #b5c1c0;
}

#contatoForm input[type="text"]:focus,
#contatoForm input[type="email"]:focus,
#contatoForm input[type="tel"]:focus,
#contatoForm textarea:focus {
    outline: none;

}

#contatoForm button[type="submit"] {
    width: calc(50% - 20px);
    padding: 10px;
    background-color: var(--cor-secundária);
    color: var(--cor-texto);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
    margin-right: 10px;
    margin-left: 10px;
}


#contatoForm button[type="submit"]:hover {
    background-color: #a4b2b2;
}


/*Footer*/

footer {
    width: 100%;
    background-color: var(--cor-extremidade);
    color: var(--cor-texto);
    font-size: 14px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer .contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin: 10px 0;
}

footer a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .icone {
    width: 15px;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
}

